<div class="row new-question-container">
  <div class="col-xs-12">
    <div class="input-group">
     <input  id="txtAskQuestion" type="text" class="form-control" placeholder="Ask a yes or no type question">
     <span class="input-group-btn">
       <button id="btnAskQuestion" class="btn btn-success" type="button">Ask</button>
     </span>
   </div><!-- /input-group -->
  </div>
</div>
