<div class="row question-text-container">
  <div class="col-xs-3 question">Is the sky actaully blue?</div>
</div>
<div class="row">
  <div class="col-xs-3 answer-box">
    <div class="answer answer-yes">
      <div class="answer-bar"></div>
      <span>Yes</span>
    </div>
    <div class="answer answer-no">
      <span>No</span>
      <div class="answer-bar"></div>
    </div>
  </div>
</div>
